<tr class='route_row' data-helper='path'>
  <td class="helper" data-value='<%= route[:name] %>'>
    <% if route[:name].present? %>
      <button class="clip-button" data-clipboard-text='<%= "#{route[:name]}_path" %>'
              title='Click me to copy to clipboard.'>
        <img src="<%= clipboard_icon %>" alt="Copy"/>
      </button>
      <div class="helper-alias">
        <%= route[:name] %><span class='helper'>_path</span>
      </div>
    <% end %>
  </td>
  <td class="verb" data-value='<%= route[:verb].downcase %>'>
    <% if route[:verb] && route[:verb] != '' %>
      <span><%= route[:verb] %></span>
    <% end %>
  </td>
  <td class="path" data-value='<%= route[:path] %>'>
    <%= route[:path] %>
  </td>
  <td class="controller" data-value='<%= route[:reqs] %>'>
    <%= route[:reqs] %>
  </td>
  <td class="constraints" data-value='<%= route[:constraints] %>'>
    <%= route[:constraints] %>
  </td>
</tr>
